html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}
html {
  background-image: url(cabecera-stocks-blog-seas.jpg);
}

.columna{
    height: 100%;
}

.fila{
    width: 100%;
    height: 50%;
}

#contenido{
    position: relative;
    width: 90%;
    height: 85%;
    left: 5%;
    top: 3%;
    right: auto;
    bottom: auto;
    box-shadow: 0px 0px 25px #000000;
    backdrop-filter: blur(10px);
    
}

#izquierda{
    width: 70%;
    float: left;
    box-shadow: 0px 0px 25px #000000;
    backdrop-filter: blur(10px);
  
}

#derecha {
    position: relative;
    float: left;
    width: 30%;
    left: 0%;
    
    backdrop-filter: blur(10px);
  
}

.cabecera {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    backdrop-filter: blur(10px);
  }

  #infoIzq{
    position: relative;
    height:calc(30% - 1px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.512);
    text-align: center;
    
}
.imagenes {
  width: 100%;
  background-color: #000000;
  height: 66.5%;
  display: flex;
  align-items: stretch;
}
  
  .logo img {
    max-width: 150px;
  }

  #formularios {
    text-align: center;
    position: relative;
    width:100%;
    height: 100%;
    position: relative;
     }

  
























































































  #imgIzq {
    position: relative;
    background-color: aqua;
    width: 33.3%;
    height: 100%;
  }

  #imgMid {
    position: relative;
    width: 33.3%;
    height: 100%;
   background-color: #000000;
   }

  #imgDer {
    position: relative;
 background-color: beige;
    right: 0%;
    width: 33.4%;
    height: 100%;
    }