@import url(https://fonts.google.com/specimen/Poppins?query=poppin);

html, body {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: url(cabecera-stocks-blog-seas.jpg) no-repeat;
    background-size: cover;
    
   
}

/* modificaiones arriba*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 20px 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* modificaiones del logo*/
.logo {
    width: 20%;

}
/* modificaciones de la navegacion*/
.navegacion a {
    position: relative;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    

}
/* darle estilo a las opciones de arriba*/
.navegacion a::after{
content:'';
position: absolute ;
left: 0;
bottom: -6px;
width: 100%;
height: 3px;
background: white;
border-radius: 5px ;
transform-origin: right;
transform: scaleX(0);
transition: transform .5s;
}

/* darle estilo a los cosos de arriba con el raton*/
.navegacion a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* boton para loguear*/
.navegacion .btnlogin-popup {
width: 130px;
height: 50px;
background: transparent;
border: 2px solid white;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 14px;
color: white;
font-weight: 500;
margin-left: 40px;

}
/* modificaciones con el cursor en el boton*/
.navegacion .btnlogin-popup:hover {
    background: white;
    color: black ;
}

/*modifica todo el Registro*/
.Registro {
  
  position: relative;  
  width: 400px;
  height: 550px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 5);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5) ;
  display: flex;
  justify-content:center;
  align-items: center;
  overflow: hidden; 
  transition: .5s .2s ease;

}

.Registro .form-box.Registro{
   transition: .18s ease;
   transform: translateX(0);
}

.Registro.active-popup .form-box.login{
transition: .18s ease;
transform: translateX(0);
}


.Registro .form-box.login{
    position: absolute;
    transition: none ;
    transform: translateX(400px);
}

.Registro.active-popup{
    height: 440px;
}

.Registro.active-popup .form-box.Registro{
    position: absolute;
    transform: translateX(-400px);
}


.infos{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 150%;
    margin-top: 40%;
    
}

.info{
   
    position: relative;  
    width: 90%;
    height: 50%;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5) ;
    justify-content: left;
    overflow: hidden; 
    transition: .5s .2s ease;
    color: aliceblue;
    font-size: 200%;
    
   
    
}
.info2{
    position: relative;  
    width: 135%;
    height: 40%;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5) ;
    justify-content: left;
    margin-top: 5%;
    overflow: hidden; 
    transition: .5s .2s ease;
    color: aliceblue;
    font-size: 200%;
}
/*esto es lo que pasa cuando le das a crear una cuenta*/
.login.active {
    height: 520px;

}
/*el tamaño que ocupa todo dentro del cuadro*/
.form-box {
    width: 100%;
}
/*esto es para que no aparezca la ventana de login*/
.form-box.login {
    display: flex;
   transition: transform .18s ease;
   transform: translateX(0);
   position: relative;
  padding: 0;
   margin-left:38% ;
}
/*esto seria para llamar a la ventana de login*/
.login.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
/*esto es basicamente para posicionar la ventana de registro*/
.Registro .form-box.Registro {
    position: absolute;
    transition: none;
}
/*esto es lo que pasa cuando le das a crear una cuenta*/
.login.active .form-box.Registro {
    transition: transform .18s ease;
    transform: translateX(0);
 }


/*el coso que dice login en el formulario*/
.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
  
}
/*donde se ponen tus datos*/
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

/* basicamente donde pondes tus datos*/
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
/* el movimiento de la contraseña y email hacia arriba*/
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

/*donde ignresas tus datos*/
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
/*basicamente los iconitos*/
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 18px;
    color: black;
    line-height: 57px;

}
/* el check de recuerdame*/
.recuerdame {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
/*el check del recuerdame*/
.recuerdame label input {
    accent-color: black;
    margin-right: 3px;
}
/*esta linea y la siguiente son de si olvidaste la contraseña*/
.recuerdame a{
    color: black;
    text-decoration: none;
   

}

.recuerdame a:hover{
    text-decoration: underline;

}
/*boton de login de abajo*/
.btn{
    width: 100%;
    height: 45px;
    background-color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
/*no tienes cuenta*/
.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
/*este y el siguiente son el de registrarse*/
.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

