html{
    width: 100%;
    height: 100%;
}

body{    
    perspective:500px;height:90vh;
    background: url(cabecera-stocks-blog-seas.jpg) repeat-y;
    background-size:cover;
    
    

  

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.div1{
   
    top: 2%;
    display:flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        position:absolute;
  width :20vw;
  height: 27vw;
  
  
  top:30%; left:38%;bottom: 30%;right: 38%;
  margin-top: -10vw;
  margin-left: -10vw;
  
  
  font-size: 10vw;
  margin: 20px;
        
        
}

#div11 {
    height: 100%;
    width: 100%;
    background-color:red;
    margin: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
  font-size: 74px;
}



#div12{
    height: 100%;
    width: 100%;
    background-color:blue;
    margin: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 74px;
}


#div13{
    height: 100%;
    width: 300px;
    background-color: blueviolet;
    margin: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 74px;
}

#div14{
    height: 100%;
    width: 300px;
    background-color: aliceblue;
    border: 10px solid black;
    filter:alpha (opacity=70); -moz-opacity:.70;opacity: .888; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inset;
  margin: 20px;
  font-size: 74px;
  padding: 50px;
  
}
#div141{
    height: 100%;
    width: 100%;
    background-color:yellow;
    font-size: 20px;
    top:30%; left:38%;bottom: 30%;right: 38%;
    
}

