html{
    width: 100%;
    height: 100%;
}

body{    
    perspective:500px;height:90vh;
    background: url(cabecera-stocks-blog-seas.jpg) repeat-y;
    background-size:cover;
    
    

  

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.div1{
   
    top: 2%;
    display:flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        position:absolute;
  width :20vw;
  height:20vw;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  top:50%; left:50%;
  margin-top: -10vw;
  margin-left: -10vw;
  animation: rotar3d 25s linear infinite;
  line-height: 20vw;
  font-size: 10vw;
        
        
}

#div11 {
    height: 100%;
    width: 300px;
    background-color:red;
    
    display: flex;
  justify-content: center;
  align-items: center;
}



#div12{
    height: 100%;
    width: 300px;
    background-color:blue;

    display: flex;
  justify-content: center;
  align-items: center;
}


#div13{
    height: 100%;
    width: 300px;
    background-color: blueviolet;

    display: flex;
  justify-content: center;
  align-items: center;
}

#div14{
    height: 100%;
    width: 300px;
    background-color: aliceblue;
    border: 10px solid black;
    filter:alpha (opacity=70); -moz-opacity:.70;opacity: .888; 
    display: flex;
  justify-content: center;
  align-items: center;
  border-style: inset;
  
}
#div141{
    height: 100%;
    width: 100%;
    background-color:yellow;
}