@import url(https://fonts.google.com/specimen/Poppins?query=poppin);

html, body {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: url(cabecera-stocks-blog-seas.jpg) no-repeat;
    background-size: cover;
    
   
}

/* modificaiones arriba*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 20px 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* modificaiones del logo*/
.logo {
    width: 20%;
    opacity: 0.75;

}