html {
  width: 100%;
  height: 100%;
}
body {
  /* Configuración del fondo, márgenes, etc. */
  font-family: Arial, sans-serif;
  background-image: url(cabecera-stocks-blog-seas.jpg);
  background-size: cover;
}

/* Estilos para la cabecera */
.cabecera {
  /* Configuración del fondo, colores, márgenes, etc. */
  background-color: #333333;
  color: #ffffff;
 /*  padding: 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  /* Estilos del logo */
  max-width: 150px;
}

.menu ul {
  /* Estilos del menú de navegación */
  list-style: none;

}

.menu li {
  /* Estilos de los elementos del menú */
 
 /* margin-right: 20px; */
}


.menu li:last-child {
  /* Estilos del último elemento del menú */
  margin-right: 0;
}

.menu a {
  /* Estilos de los enlaces del menú */
  color: #ffffff;
  text-decoration: none;
 /* padding: 5px 10px; */
}

.menu a:hover {
  /* Estilos de los enlaces del menú al pasar el cursor sobre ellos */
  background-color: #ffffff;
  color: #333333;
 /* border-radius: 4px; */
}

/* Estilos para el contenido de la página */
.contenido {
 

 /* padding: 30px; */
  text-align: center;
}


.info-izquierda {
  background-color: #333333c2;
 /* padding: 20px;*/
 /* border-radius: 8px; */
  color: #ffffff;
  width: 70%;
  height: 30%;
  left: auto;
}
#img1 {
  width: 35%;
  height: 70%;
 background-color: azure;
}
#img2 {
  width: 35%;
  height: 70%;
  background-color: bisque;
}



.info-izquierda h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.info-izquierda p {
  font-size: 18px;
  line-height: 1.6;
}

#login-pestaña {
  text-align: center;
  width: 250px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.689);
} 
#registro-pestaña{
  
  text-align: center;
  width: 250px;
  height: 400px;
  background-color: black;

}


.derecha {
  background-color: red;
  position: relative;
  left: auto;
  right: auto;

}

.contenido {
  background-color: aqua;
  position: relative;
}

.formularios {
 width: 30%;
 height: 100%;
 right: 100%
}
