/*.back1 {
    width: 250px;
    height: 400px;
    background-color: blue;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
}*/

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

#base{
    width: 100%;
    height: 100%;
}
#cabeza {
    height: 7%;
    width: 100%;
    
}

.header {
    display: grid;

    height: 100%;
    background: linear-gradient(to left, #ffffffc6, #848484);
    padding: 20px;
    width: 100%;
  }
.image{
    height: 30%;
    margin-bottom: 40%;
}

  .back-button {
    order: 1;
    margin-right: 20px;
  }

  .logo {
    order: 2;
    flex-grow: 1;
    text-align: center;
  }

  .logo img {
    height: 40px;
  }



#cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    margin: 0;
    background-image: url(cabecera-stocks-blog-seas.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;

  }
 

.content{
    width: 250px;
    height: 400px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);  
    text-align: center;
}

#info1 {       background: linear-gradient(to top, #ffffffc6, #848484);}
#info2 {       background: linear-gradient(to top, #ffffffc6, #848484);}
#info3 {       background: linear-gradient(to top, #ffffffc6, #848484);}



 